.header {
	margin-top:50px;
	margin-bottom:50px;
}

.menu {
	margin-top:10px;
	li {
		font-weight:600;
		margin-right:50px;
		letter-spacing:1px;
		font-family: 'Raleway', sans-serif;
	}
	#last {
		margin-right:0px;
	}
	ul li {
		display:inline !important;
	}
	li:hover {
		border-bottom:3px black solid;
	}
}

.about {
	margin-bottom:70px;
}

.message {
	p {
		font-weight:500;
		font-family: 'Raleway', sans-serif;
	}
}

.slider {
	margin-bottom:50px;
}

.slider-contents {
	padding: 0px 15px 0px 15px;
}

.posters {
	margin-bottom: 50px;
}

.footer {
	p {
		font-weight:500;
		font-family: 'Raleway', sans-serif;
	}
	margin-top:30px;
	margin-bottom:30px;
}