.header {
  background-color: white;
  padding: 35px 0px 35px 0px; }

.menu {
  margin-top: 5px; }
  .menu li {
    font-weight: 600;
    margin-right: 50px;
    letter-spacing: 1px;
    font-family: 'Raleway', sans-serif; }
  .menu li a {
    color: black;
    text-decoration: none; }
  .menu #last {
    margin-right: 0px; }
  .menu #current {
    border-bottom: 3px black solid; }
  .menu ul li {
    display: inline !important; }
  .menu li:hover {
    border-bottom: 3px black solid; }

.about {
  margin-bottom: 70px; }

.message p {
  font-weight: 500;
  font-family: 'Raleway', sans-serif; }

.slider {
  margin-top: 130px;
  margin-bottom: 50px; }

.slider-contents {
  padding: 0px 15px 0px 15px; }

.posters {
  margin-bottom: 50px; }

.items {
  margin-top: 150px; }

.item {
  padding: 0px 15px 0px 15px;
  font-family: 'Raleway', sans-serif; }
  .item h1 {
    font-weight: 700;
    margin-bottom: 20px; }
  .item h5 {
    color: gray;
    margin-top: 0px;
    margin-bottom: -20px;
    padding: 5px 15px 5px 5px; }

.reconmendations {
  font-family: 'Raleway', sans-serif;
  margin-top: 100px;
  marginp-bottom: 50px;
  padding: 0px 15px 0px 15px; }
  .reconmendations h1 {
    font-weight: 300; }
  .reconmendations a {
    color: black; }
  .reconmendations img {
    margin-bottom: 20px; }
  .reconmendations img:hover {
    opacity: 0.7; }

.cart button {
  color: white;
  background-color: black;
  border: 1px solid black;
  padding: 10px 20px 10px 20px; }
.cart button:hover {
  color: black;
  background-color: white;
  border: 1px solid black; }
.cart p {
  margin: 0px; }

.buy {
  margin-top: 150px;
  font-family: 'Raleway', sans-serif; }

.purchaseItem {
  position: fixed;
  width: 540px;
  border: 1px solid #464646;
  padding: 35px; }
  .purchaseItem h1 {
    margin: 0px;
    font-size: 26px; }

#item {
  margin-top: 25px; }
  #item h3 {
    font-size: 14px;
    margin-top: 0px;
    font-weight: 300; }
  #item button {
    margin-top: 5px;
    color: white;
    background-color: #464646;
    border: 1px solid #464646;
    padding: 5px 10px 5px 10px; }
  #item button:hover {
    color: black;
    background-color: white;
    border: 1px solid #464646; }

.email h1 {
  margin-top: 0px;
  font-size: 18px; }
.email span {
  border: 1px solid #464646;
  border-radius: 50%;
  padding: 5px 11px 5px 11px;
  font-size: 18px; }

.address {
  margin-top: 75px; }
  .address h1 {
    margin-top: 0px;
    font-size: 18px; }
  .address span {
    border: 1px solid #464646;
    border-radius: 50%;
    padding: 5px 11px 5px 11px;
    font-size: 18px; }

.payment {
  margin-top: 75px; }
  .payment h1 {
    margin-top: 0px;
    font-size: 18px; }
  .payment span {
    border: 1px solid #464646;
    border-radius: 50%;
    padding: 5px 11px 5px 11px;
    font-size: 18px; }
  .payment h4 {
    font-size: 14px; }
  .payment h3 {
    margin-top: 20px;
    font-size: 16px; }

.submitOrder {
  margin-top: 25px; }
  .submitOrder button {
    width: 100%;
    margin-top: 5px;
    color: white;
    background-color: #464646;
    border: 1px solid #464646;
    padding: 10px 15px 10px 15px; }
  .submitOrder button:hover {
    color: black;
    background-color: white;
    border: 1px solid #464646; }

.pad {
  padding: 0px 15px 0px 15px; }

.footer {
  margin-top: 30px;
  margin-bottom: 30px; }
  .footer p {
    font-weight: 500;
    font-family: 'Raleway', sans-serif; }
  .footer a:hover {
    opacity: 0.7; }

.admin {
  margin-top: 50px; }

.centerText {
  margin-top: 50px; }

.logout {
  margin-top: 40px; }
  .logout button {
    font-weight: 700;
    font-family: 'Raleway', sans-serif;
    border: 1px #464646 solid;
    float: right;
    background-color: white;
    padding: 5px 10px 5px 10px; }
    .logout button p {
      margin: 0px; }
  .logout button:hover {
    background-color: #464646;
    color: white; }

.adminBody {
  margin-top: 80px; }

.block {
  border: 1px solid #464646;
  height: 200px;
  color: white;
  background-color: #464646;
  padding: 10px 20px 10px 20px; }
  .block p {
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    font-size: 20px;
    text-align: center; }

.block:hover {
  background-color: white;
  color: #464646; }

.login {
  margin-top: 15%;
  margin-bottom: 50px; }

.customInput {
  border: 1px solid #464646;
  border-radius: 0px;
  outline: none;
  box-shadow: none !important;
  font-family: 'Raleway', sans-serif; }
  .customInput:active {
    border: 1px solid #464646 !important;
    background-color: #464646;
    color: white; }
  .customInput:focus {
    border: 1px solid #464646 !important;
    background-color: #464646;
    color: white; }

.customSelect {
  border: 1px solid #464646;
  background: white;
  -webkit-appearance: none;
  border-radius: 0px !important;
  outline: none;
  box-shadow: none !important;
  font-family: 'Raleway', sans-serif;
  color: black; }
  .customSelect:focus {
    border: 1px solid #464646 !important;
    background-color: #464646;
    color: white; }

.confirmation {
  margin-top: 100px; }

::-webkit-input-placeholder {
  font-family: 'Raleway', sans-serif; }

:-moz-placeholder {
  /* Firefox 18- */
  font-family: 'Raleway', sans-serif; }

::-moz-placeholder {
  /* Firefox 19+ */
  font-family: 'Raleway', sans-serif; }

:-ms-input-placeholder {
  font-family: 'Raleway', sans-serif; }

.customBtn {
  font-weight: 500;
  font-family: 'Raleway', sans-serif;
  border: 1px #464646 solid;
  float: right;
  background-color: white;
  padding: 5px 10px 5px 10px; }
  .customBtn p {
    margin: 0px; }
  .customBtn:hover {
    background-color: #464646;
    color: white; }
