.header {
  background-color: white;
  padding: 35px 0px 35px 0px; }

.menu {
  margin-top: 5px; }
  .menu li {
    font-weight: 600;
    margin-right: 50px;
    letter-spacing: 1px;
    font-family: 'Raleway', sans-serif; }
  .menu li a {
    color: black;
    text-decoration: none; }
  .menu #last {
    margin-right: 0px; }
  .menu #current {
    border-bottom: 3px black solid; }
  .menu ul li {
    display: inline !important; }
  .menu li:hover {
    border-bottom: 3px black solid; }

.about {
  margin-bottom: 70px; }

.message p {
  font-weight: 500;
  font-family: 'Raleway', sans-serif; }

.slider {
  margin-top: 130px;
  margin-bottom: 50px; }

.slider-contents {
  padding: 0px 15px 0px 15px; }

.posters {
  margin-bottom: 50px; }

.items {
  margin-top: 150px; }

.item {
  padding: 0px 15px 0px 15px;
  font-family: 'Raleway', sans-serif; }
  .item h1 {
    font-weight: 700;
    margin-bottom: 20px; }
  .item h5 {
    color: gray;
    margin-top: 0px;
    margin-bottom: -20px;
    padding: 5px 15px 5px 5px; }

.reconmendations {
  font-family: 'Raleway', sans-serif;
  margin-top: 100px;
  marginp-bottom: 50px;
  padding: 0px 15px 0px 15px; }
  .reconmendations h1 {
    font-weight: 300; }
  .reconmendations a {
    color: black; }
  .reconmendations img {
    margin-bottom: 20px; }
  .reconmendations img:hover {
    opacity: 0.7; }

.cart button {
  color: white;
  background-color: black;
  border: none;
  padding: 10px 20px 10px 20px; }
.cart button:hover {
  color: black;
  background-color: white;
  border: 1px solid black; }
.cart p {
  margin: 0px; }

.footer {
  margin-top: 30px;
  margin-bottom: 30px; }
  .footer p {
    font-weight: 500;
    font-family: 'Raleway', sans-serif; }
  .footer a:hover {
    opacity: 0.7; }
