$blackgray: #464646;

.header {
	//margin-top:50px;
	//margin-bottom:50px;
	background-color:white;
	padding: 35px 0px 35px 0px;
}

.menu {
	margin-top:5px;
	li {
		font-weight:600;
		margin-right:50px;
		letter-spacing:1px;
		font-family: 'Raleway', sans-serif;
	}
	li a {
		color:black;
		text-decoration:none;
	}
	#last {
		margin-right:0px;
	}
	#current {
		border-bottom:3px black solid;
	}
	ul li {
		display:inline !important;
	}
	li:hover {
		border-bottom:3px black solid;
	}
}

.about {
	margin-bottom:70px;
}

.message {
	p {
		font-weight:500;
		font-family: 'Raleway', sans-serif;
	}
}

.slider {
	margin-top:130px;
	margin-bottom:50px;
}

.slider-contents {
	padding: 0px 15px 0px 15px;
}

.posters {
	margin-bottom: 50px;
}

.items {
	margin-top: 150px;
}

.item {
	padding: 0px 15px 0px 15px;
	font-family: 'Raleway', sans-serif;
	h1 {
		font-weight:700;
		margin-bottom:20px;
	}
	h5 {
		color:gray;
		margin-top:0px;
		margin-bottom:-20px;
		padding: 5px 15px 5px 5px;
	}
}

.reconmendations {
	font-family: 'Raleway', sans-serif;
	margin-top:100px;
	marginp-bottom:50px;
	padding: 0px 15px 0px 15px;
	h1 {
		font-weight:300;
	}
	a {
		color:black;
	}
	img {
		margin-bottom:20px;
	}
	img:hover {
		opacity:0.7;
	}
}

.cart {
	//margin-top:35px;
	button {
		color:white;
		background-color:black;
		border: 1px solid black;
		padding: 10px 20px 10px 20px;
	}
	button:hover {
		color:black;
		background-color:white;
		border: 1px solid black;
	}
	p {
		margin:0px;
	}
}

.footer {
	p {
		font-weight:500;
		font-family: 'Raleway', sans-serif;
	}
	margin-top:30px;
	margin-bottom:30px;
	a:hover {
		opacity:0.7;
	}
}

.admin {
	margin-top:50px;
}

.centerText {
	margin-top:50px;
}

.logout {
	margin-top:40px;
	button {
		font-weight:700;
		font-family: 'Raleway', sans-serif;
		border: 1px $blackgray solid;
		float:right;
		background-color: white;
		padding: 5px 10px 5px 10px;
		p {
			margin:0px;
		}
	}
	button:hover {
		background-color: $blackgray;
		color:white;
	}
}

.adminBody {
	margin-top: 80px;
}

.block {
	border: 1px solid $blackgray;
	height:200px;
	color:white;
	background-color: $blackgray;
	padding: 10px 20px 10px 20px;
	p {
		font-family: 'Raleway', sans-serif;
		font-weight:900;
		font-size:20px;
		text-align:center;
	}
}

.block:hover {
	background-color:white;
	color:$blackgray;
}