<div class="buy">
	<div class="container">
		<div class="pad">
		<div class="row">

			<div class="col-lg-5">
				<form>
				<div class="email">
					<div class="row">
						<div class="col-lg-2">
							<h1><span>1</span></h1>
						</div>
						<div class="col-lg-6">
							<h1>Contact Information</h1>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-10 col-lg-offset-2">
							<br>
							  <div class="form-group">
							    <!--<label for="exampleInputEmail1">Email address</label>-->
							    <input type="email" class="form-control customInput" ng-model="user.email" id="exampleInputEmail1" placeholder="Email">
							  </div>
						</div>
					</div>
				</div>

				<div class="address">
					<div class="row">
						<div class="col-lg-2">
							<h1><span>2</span></h1>
						</div>
						<div class="col-lg-6">
							<h1>Shipping Address</h1>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-10 col-lg-offset-2">
							<br>
							  <div class="form-group">
							    <!--<label for="exampleInputEmail1">Email address</label>-->
							    <input type="name" class="form-control customInput" ng-model="user.name" id="exampleInputEmail1" placeholder="Full Name"><br>
							    <input type="address" class="form-control customInput" ng-model="user.address_line1" id="exampleInputEmail1" placeholder="Address"><br>
							    <input type="address" class="form-control customInput" ng-model="user.address_line2" id="exampleInputEmail1" placeholder="Apt/Suite/etc."><br>
							    <input type="address" class="form-control customInput" ng-model="user.address_zip" id="exampleInputEmail1" placeholder="Zip Code"><br>
							    <input type="address" class="form-control customInput" ng-model="user.address_city" id="exampleInputEmail1" placeholder="City"><br>
							    <input type="address" class="form-control customInput" ng-model="user.address_state" id="exampleInputEmail1" placeholder="State"><br>
							    <input type="tel" class="form-control customInput" ng-model="user.phone" id="exampleInputEmail1" placeholder="Phone"><br>
							  </div>
						</div>
					</div>
				</div>

				<div class="payment">
					<div class="row">
						<div class="col-lg-2">
							<h1><span>3</span></h1>
						</div>
						<div class="col-lg-6">
							<h1>Payment Information</h1>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-10 col-lg-offset-2">
							<br>
							  <div class="form-group">
							    <!--<label for="exampleInputEmail1">Email address</label>-->
							    <input type="name" class="form-control customInput" ng-model="user.card_name" id="exampleInputEmail1" placeholder="Name on Card"><br>
							    <input class="form-control customInput" ng-model="user.card_number" id="exampleInputEmail1" placeholder="Credit Card Number"><br>
							    <div class="row">
						            <div class="col-lg-6">
						              <select class="form-control customSelect col-sm-2" placeholder="Exp. Month" ng-model="user.card_month" name="expiry-month" id="expiry-month">
						              	<option selected="selected" disabled="disabled">Expiry Month</option>
						                <option value="01">Jan (01)</option>
						                <option value="02">Feb (02)</option>
						                <option value="03">Mar (03)</option>
						                <option value="04">Apr (04)</option>
						                <option value="05">May (05)</option>
						                <option value="06">June (06)</option>
						                <option value="07">July (07)</option>
						                <option value="08">Aug (08)</option>
						                <option value="09">Sep (09)</option>
						                <option value="10">Oct (10)</option>
						                <option value="11">Nov (11)</option>
						                <option value="12">Dec (12)</option>
						              </select>
						            </div>
						            <div class="col-lg-6">
						              <select class="form-control customSelect" placeholder="Exp. Year" ng-model="user.card_year" name="expiry-year">
						              	<option selected="selected" disabled="disabled">Expiry Year</option>
						                <option value="2014">2014</option>
						                <option value="2015">2015</option>
						                <option value="2016">2016</option>
						                <option value="2017">2017</option>
						                <option value="2018">2018</option>
						                <option value="2019">2019</option>
						                <option value="2020">2020</option>
						                <option value="2021">2021</option>
						                <option value="2022">2022</option>
						                <option value="2023">2023</option>
						              </select>
						            </div>
						        </div><br>
							    <input type="password" class="form-control customInput" ng-model="user.card_cvc" id="exampleInputEmail1" placeholder="CVC"><br>
							    <h4>Item Cost: $32.00</h4>
							    <h4>Shipping Cost: $4.00</h4>
							    <h3>Total Cost: $36.00</h3>

							  </div>
						</div>
					</div>
				</div>

				<div class="submitOrder">
					<div class="row">
						<div class="col-lg-10 col-lg-offset-2">
							<button ng-click="order(user);"><center>Submit Order</center></button>
						</div>
					</div>
				</div>

				</form>

			</div>

			<div class="col-lg-6  col-lg-offset-1">
				<div class="purchaseItem">
					<h1>Your Item:</h1>
					<div id="item">
						<div class="row">
							<div class="col-lg-3">
								<img ng-src="{{item.imgLarge}}" width="100%">
							</div>
							<div class="col-lg-9">
								<h3>{{item.name}}</h3>
								<h3>36x24in. Artisan Poster</h3>
								<h3>1 x $36.00</h3>
								<a href="#item/{{item._id}}"><button>Remove Item</button></a>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
	</div>
</div>