<div class="slider">
      <div class="container">
        <div class="row">

          <div class="col-lg-12">
            <div class="slider-contents">
              <div><img width="100%" src="img/slider.jpg"></div>
              <div><img width="100%" src="http://placehold.it/1200x500"></div>
              <div><img width="100%" src="http://placehold.it/1200x500"></div>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="about">
      <div class="container">
        <div class="row">

          <div class="col-lg-12">
            <center>
              <div class="message">
                <p>HELLO. WE ARE HACKER SUPPLY CO. WE MAKE FINE HACKER ACCESSORIES.</p>
                <p>STARTED IN 2014 PRODUCING POSTERS, TSHIRTS, STICKERS.</p>
                <p>TAKE A LOOK AT WHAT WE HAVE TO OFFER:</p>
              </div>
            </center>
          </div>

        </div>
      </div>
    </div>

    <div class="posters">
      <div class="container">
        <div class="row">

          <div class="col-lg-12">

            <div ng-repeat="item in myItems">
              <span ng-if="$index % 3 == 0">
                <br>
                <div class="row item">
                  <div class="col-lg-4" ng-if="myItems[$index+0]">
                    <div class="grid">
                      <figure class="effect-sadie">
                        <img ng-src="{{myItems[$index+0].imgLarge}}" width="100%" alt="img01"/>
                        <figcaption>
                          <h2>Poster <span>One</span></h2>
                          <p>{{myItems[$index+0].name}}</p>
                          <a href="#item">View more</a>
                        </figcaption>     
                      </figure>
                    </div>
                  </div>
                  <div class="row">
                  <div class="col-lg-4" ng-if="myItems[$index+1]">
                    <div class="grid">
                      <figure class="effect-sadie">
                        <img ng-src="{{myItems[$index+1].imgLarge}}" width="100%" alt="img01"/>
                        <figcaption>
                          <h2>Poster <span>One</span></h2>
                          <p>{{myItems[$index+1].name}}</p>
                          <a href="#item">View more</a>
                        </figcaption>     
                      </figure>
                    </div>
                  </div>
                  <div class="row">
                  <div class="col-lg-4" ng-if="myItems[$index+2]">
                    <div class="grid">
                      <figure class="effect-sadie">
                        <img ng-src="{{myItems[$index+2].imgLarge}}" width="100%" alt="img01"/>
                        <figcaption>
                          <h2>Poster <span>One</span></h2>
                          <p>{{myItems[$index+2].name}}</p>
                          <a href="#item">View more</a>
                        </figcaption>     
                      </figure>
                    </div>
                  </div>
                </div>
              </span>
            </div>
          
          </div><!--end col-lg-12!-->

        </div>
      </div>
    </div>